[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "image2data"]
	path = image2data
	url = https://github.com/quantmeth/image2data
